<div class="panel panel-default">
	<div class="panel-body">
		<h4>Why am I learning Rails?</h4>
		<p class="lead"><h5>I am learning Rails to diversify my design skills.  This will help me land a job at a startup or web dev company.  My goal is to develop the skills necessary to be a CTO.</h5></p>

		<h4>Who Am I?</h4>
		<p class="lead"><h5>My name is Kevin Alexander Watters.  I was born and raised in Houston, Texas.  After graduating high school, I went on to study architecture at Rensselaer Polytechnic Institute in Troy, New York.  After graduating with an architecture degree in May 2010, unable to find employment due to the recession, I founded a nonprofit architectural design firm called Archifarm.</h5></p>

		<p class="lead"><h5>Archifarm provides affordable design services to nonprofits and underserved communities while offering architecture students and graduates an Enhanced Intern Experience (EIE).</h5></p>
	</div>
</div>