// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
	color: #ADA895
}

h3 {
	color: #ADA895;
	font-weight: bold;
}

h4 {
	color: #ADA895;
	font-weight: bold;
}